.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

README.Rmd
LICENSE.Rmd

ignoreCode/ 

MTE_dataAnalysis/output/
MTE_dataAnalysis/plots/

BathurstSurvey/

simulations/output
simulations/ignore 
simulations/R1.R

tempData/migRouteOutput
tempData/NARR/otherDat
tempData/NARR/tsoil

tempData/climateChange/monthly
tempData/climateChange/seasonal

figures/
ranges/

*.rds
*.RData

